ul.tab {
    margin:0;
    padding:0;
}
ul.tab li {
    position:relative;
    float: left;
    margin: 0,0,0,0px;
    bottom: -5px;
    list-style-type: none;	
    border-right: 1px #ddd solid;
    border-top: none;
    z-index:0; 
}
ul.tab li.none {
    color: #000;
    font-weight: bold;
    background:#fff;	
    border-bottom: 2px #fff solid;
}
ul.tab li a {
    color: #000;
    display: block;
    padding: 10px 10px 15px 5px;
    width:80px;
    text-decoration: none;
    background: #99ccff;
}


ul.tab li a.blue{
 border-top: 5px #0054a8 solid;
    background-color: #99CCFF;
}
ul.tab li a.green {
    border-top: 5px #04582e solid;
    background-color: #cafad7;   
}
ul.tab li a.red {
    border-top: 5px #dd1d25 solid;
    background-color: #fad3d1;
}
ul.tab li a.yellow {	
    border-top: 5px #c19910 solid;
    background-color:#f9e18f;
}
ul.tab li a.name {
    width:100%;
    border-top: 5px #510580 solid;
    background-color:#e6d8ee;
}
ul.tab li a:hover {
    position: relative;
    bottom: 6px;
}

/* clerfix */
.clear:after {
    content:"";
    display:block;
    overflow:hidden;
}
.clear:after {
    clear:both;
}
.clear {
    zoom:1;
}

#Body_container{		/*全体を入れるハコ*/
    position:absolute;
    margin:10px;
    padding:15px;
    width:93%;
    height:95%;
    text-align:left;
    /* auto; */
    background-color: #dbe3ef;
}
#background {			/*背景*/
    margin:0px;
    width:95%;
    height:90%;
    text-align:left;
    padding:10px;
    auto;
    background-color: #ffffff;
}

#Game_play{		/*ゲーム実行用。*/
    float: right;
    padding: 10px;
    margin:5px;
    width:60%;
    height:98%;
    background-color: #f0f0f0;
}
#Game_menu{		/*ゲーム用メニュー。*/
padding: 10px;
margin:5px;
	float: left;
    width:30%;
    height:98%;
    background-color: #f0f0f0;
}

html,body {
    margin:5px,5px,5px,5px;
    padding:5px,5px,5px,5px;
    scrollbar-arrow-color:#fcffe0;
    scrollbar-face-color:#99c000;
    scrollbar-3dlight-color:#f4ffe0;
    scrollbar-darkshadow-color:#374000;
    scrollbar-highlight-color:#eeff80;
    scrollbar-shadow-color:#6e8000;
    scrollbar-track-color:#eeff80;
    background-color: #010915;
}

#BookCategory {			/*本のリスト*/
    overflow:auto;
    float: right;
    background-color: #f0f0f0;
    margin:5px;
    width:60%;
    height:98%;
}
.folder{			/*フォルダ用*/
    padding:5px;
    width: 85%;
    height:50%;
}
.memo{
 padding:5px;
    width: 85%;
    height:90%;
}
.search{			/*検索フォーム*/
    background-color: #ffe080;
    padding:5px;
    bottom: 100px;
    margin:5%;		/*ここいじってる*/
    width: 85%;
    height:25%;
}

#BookList {			/*ファイルや検索フォームとか*/
    float: left;
    margin:5px;
    background-color: #f0f0f0;
    width:35%;
    height:98%;
}

/* メニューのスタイル */
.box_menu{
    width: 16px;
    height: 16px;
    float: left;
    background: url("close.gif") left top no-repeat;
}

.pen_menu{
width: 16px;
    height: 16px;
    float: left;
}

.box_sub{
    width: 16px;
    height: 16px;
    position:relative;
    left:20px;
    background: url("open.gif") left top no-repeat;
    display: none;
}

.pen_sub{
    width: 16px;
    height: 16px;
    position:relative;
    left:20px;
    display: none;
}

/* 本リスト用のスタイル */
.book_file{
    padding:5px;
    position:relative;
    left: 20px;
    width:90%;
    height: 15%;
    overflow: auto;
    background-color: #ffe080;
    font-size: 15px;
    align:left;
}

/* 画像の回り込み用 */
img.img_left{
    float: left;
    padding: 5px;
}

div.clear{
    clear: both;
    margin: 0 0 10px 0;
}

/* 移動できるポップアップ */

#ipop{
    /* この５行は必須 */
    width: 300px;
    height: 200px;
    position: absolute;
    display: none;
    z-index: 9999;
}

#ipop_title {
    background-color: #fdc;
    cursor: move;
}

#ipop_close {
    cursor: pointer;
    float: right;
}